<script lang="tsx">
import { MailIcon, SearchIcon } from '@heroicons/vue/solid'
import { defineComponent } from 'vue'
import { ref } from '@vue/reactivity'
import Input from 'components/Input'
import Popper from 'components/popper'

export default defineComponent({
  setup() {
    const visible = ref(false)

    return () => (
      <div>
        <Input disabled class="mt-4">
          {{
            // @ts-ignore
            leftIcon: () => <MailIcon class="w-5 h-5" />
          }}
        </Input>
        <Input class="mt-4">
          {{
            // @ts-ignore
            prepend: () => 'https://'
          }}
        </Input>
        <Input class="mt-4">
          {{
            // @ts-ignore
            pend: () => <SearchIcon class="w-5 h-5" />
          }}
        </Input>
        <Popper gpuAcceleration={false} sameWidth visible={visible.value}>
          {{
            trigger: () => (
              <Input
                class="mt-4"
                onFocus={() => {
                  visible.value = true
                }}
                onBlur={() => {
                  visible.value = false
                }}></Input>
            ),
            default: () => <div>123</div>
          }}
        </Popper>

        <p>Size</p>
        <Input class="mt-4" size="mini" />
        <Input class="mt-4" size="small" />
        <Input class="mt-4" size="medium" />
        <Input class="mt-4" size="large" />
      </div>
    )
  }
})
</script>
